<!doctype html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVL0YJTPF0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MVL0YJTPF0');
    </script>
    {% block head %}
    {% endblock %}
    <meta property="og:title" content="Bory Buth: Web Designer/Developer" />
    <meta property="og:description" content="My Personal Website" />
    <meta property="og:image" content="/assets/images/P7050810-2.webp" />
    <meta property="og:url" content="https://borybuth.com/" />
    <meta property="og:type" content="website" />

  </head>
  <body>
    {# {% include "nav.html" %} #}
    {{ content | safe }}
  </body>
</html>