{% extends "layouts/base.njk" %}

{% block head %}
<link href="/css/styles.css" rel="stylesheet">
<link href="/css/temp.css" rel="stylesheet">
<link href="/css/base.css" rel="stylesheet">
<script>document.documentElement.className="js";</script>
{% endblock %}


{% block footer %}

<script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="/js/lenis.min.js"></script>
<script type="module" src="/js/index.js"></script>

{% endblock %}
