<!doctype html>
<html lang="en">
  <head>
    {% include "wip_head.html" %}
    {% block head %}
    <link href="/css/wip.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    
    {{ content | safe }}

  </body>
</html>