/* 
font-family: 'PT Sans', sans-serif;
font-family: 'Rubik Doodle Shadow', system-ui;

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

:root {
    --main-bg-color: #f1efea;
}

html, 
body {
    margin: 0;
    padding: 0;
    
}
html {scroll-behavior: smooth;}
body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    /* border-radius: 2px 181px; */
    background: var(--main-bg-color);
    /* background:url(../assets/images/3DWoodenWall.webp) no-repeat 0 0 #0b0b0b; */
    background-size: contain;
    /* border-top: 2px solid #d6d6d6;
    border-right: 4px solid #f7f7f7;
    border-bottom: 4px solid #f1f1f1;
    border-left: 3px solid #5d5d5d; */
    position: relative;
    /* z-index: 1; */
    max-width: 1920px;
}
img {max-width: 100%;}

.backToTop {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    left: 1vw;
    border: 0;
    background: transparent;
    cursor: pointer;
    text-shadow: 0 0px 18px #fff, 0 0px 2px #fff;
}

h1, h2, h3, h4 {
    text-transform:uppercase;
    letter-spacing:10px;
    font-weight: 400;
    font-family: 'Rubik Doodle Shadow', Impact, 'Arial Narrow Bold', sans-serif, system-ui;
}
.h1 {font-size: 4rem;} .h2 {font-size: 1.5rem;}
.h1 span {
    display: block;
    color: brown;
    letter-spacing: -4px;
    font-size: 162%;
}
.Rubik {font-family: 'Rubik Doodle Shadow', Impact, 'Arial Narrow Bold', sans-serif, system-ui;}

nav.fixedNav {
    position: fixed;
    top: 0;
    width: 10vw;
    border: 1px solid;
    left: 0;
    text-align: left;
    background: #f1efea;
}
nav ul li{list-style: none;margin:0;padding:0;}

.navBlock {
    display: grid;
    color: #fff;
    margin-top: 1rem;
    justify-content: start;
    max-width: 580px;
}
.navBlock ul, .navBlock li {
    margin:0;
    padding:0;
    list-style:none;
}
.navBlock a { 
    text-decoration:none;
    color:#fff;    
}

.navBlock li:nth-child(1) {
    text-align:left;    
}

/* .navBlock li:nth-child(1)::after, .navBlock li:nth-child(3)::before {
    content: "";
    width: 85%;
    height: 1px;
    position: absolute;
    border: 1px solid #fff;
    top:0;
    bottom:0;
    margin:auto;

} */
.navBlock li:nth-child(1)::after {right:0;}
.navBlock li:nth-child(3)::before {left:0;}

.navBlock li:nth-child(3) {
    text-align: right;    
}

.navBlock li:nth-child(1), .navBlock li:nth-child(3) {
    text-transform:uppercase;
    font-size:1.1rem;
    position: relative;    
    
}
.nameTitle {
    font-family: 'Rubik Doodle Shadow', Impact, 'Arial Narrow Bold', sans-serif, system-ui;
    font-size: 6rem;
    color: #fff;
    text-shadow: 0px 0px 15px #000000;    
    font-weight: normal;
    margin:0.4rem 0;
    padding: 0;
    text-transform:uppercase;
    letter-spacing:normal;
}

@keyframes scrollBg {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-330px);
    }
  }

.siteBG {
    background: linear-gradient(#f3f2ef , #fff) 50% 50%/calc(100% - 48px) calc(100% - 48px) no-repeat,            linear-gradient(0deg, #ffffff 0%, #f3f2ef 100%);
    border-radius: 3px;
    padding: 2vw 3vw;
    box-sizing: content-box;
    margin: 1rem;
    box-shadow: 0px 0px 20px -5px #ccc, 0px 20px 7px 7px #e9e6de;
    /* clip-path: polygon(0 0, 100% 0, 99% 100%, 1% 100%); */
    transform:none;
}
@media only screen and (min-width: 425px) {
    .siteBG {
        transform: rotate(2deg);
    }
}

.background-img {
    /* position: absolute; */
    left: 0;
    top: 0;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: contrast(1.1);
    background: url(../assets/images/P7060674.webp) no-repeat 50% 50%;
    background-size: cover;
    /* border: 4vw solid #fff; */
    /* border-top-width: 8.5vh; */
    /* border-bottom-width: 8.5vh; */
    box-shadow: inset 0px 0px 0px 3px #d1d1d1;
    height: 90vh;
    padding-top: 3vh;
    padding-left: 3vw;
}

.container__main {}

.card__container {
    background-color: blue;
    color:#fff;
}

.card__container--raised {
    background-color: #000;
    color:#fff;
}


/* .gallery {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 325px;
    grid-auto-flow: dense;
}
.horizontal {
    grid-column: span 2;
}
.vertical {
    grid-row: span 2;
}
.big {
    grid-column: span 2;
    grid-row: span 2;
} */

/* .gallery {position: relative;}
.gallery div {position: absolute;} */

div#About {
    display: flex;
    flex-direction: column;
    align-items: center;
}
