body {
    margin:0 auto;
    padding: 2vw;
    max-width: 1440px;
    text-align: center;
}
img {max-width:100%}
h1 {
  /* font-size: calc(40px + 8vw); */
  font-size: clamp(3rem, 90vw, 10vw);
  line-height: 1;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, p {background-color:#f1efea;}

#About {
    margin:auto;
    max-width: 795px;    
    
}

figure {
    --c: 50px;
    --p: 30px;
    --d: 10px;
    background: #fff;
    display: inline-block;
    padding: var(--p);
    background:
      radial-gradient(farthest-side at 0 0, #000, #0000) 0 0 / var(--c) var(--c),
      radial-gradient(farthest-side at 100% 100%, #000, #0000) 100% 100% / var(--c) var(--c),
      linear-gradient(#fff 0 0) 50% 50% / calc(100% - var(--p)) calc(100% - var(--p)),
      linear-gradient(#0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--p)) calc(100% - var(--d)),
      linear-gradient(90deg, #0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--d)) calc(100% - var(--p)),
      radial-gradient(farthest-side at 0 100%, #00000018, #0000) calc(100% - var(--d) * 0.5) calc(var(--d) * 0.5) / var(--d) var(--d),
      radial-gradient(farthest-side at 100% 0, #00000018, #0000) calc(var(--d) * 0.5) calc(100% - var(--d) * 0.5) / var(--d) var(--d)
      ;
    background-repeat: no-repeat;
    clip-path: 
    polygon(0 var(--c), var(--c) 0, 100% 0, 100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 0 100%);
    max-width: 400px;
  }

  hr {
    width: 20vw;
    border: 1px solid #000;
    margin: 2rem auto;
    padding: 0;
  }

  section, article {
    margin: 30vh 0;
    position:relative;
    background: transparent;
    /* box-shadow: 0 0 20px 11px #846c2e; */
}

/* section::before, article::before {
    content:"";
    width:1px;
    position:absolute;
    left:0;
    right:0;
    top: 0;
    margin:0 auto;
    background:#000;
    height: 200vh;
    z-index: -1;
} */

section::after, article::after {
    content:"";
    width:1px;
    position:absolute;
    left:0;
    right:0;
    bottom: 0;
    margin:0 auto;
    background:#000;
    height: 150vh;
    z-index: -1;
}
section#Photos::after {
  top:-50vh;
  bottom: auto;
}
#myVideo, article img {
  border:40px solid #fff;
  box-shadow: 0px 0px 20px -5px #ccc, 0px 20px 7px 7px #e9e6de;
}
#panel-1 img {transform: rotate(2deg);}
#myVideo {transform: rotate(-2deg);}
#panel-3 img {transform: rotate(2deg);}
#panel-4 img {transform: rotate(-2deg);}

.panel h2 {  
  margin-bottom:9vh;  
  /* font-size: 4rem; */
  font-size: clamp(2rem, 4rem, 10vw);
}

#About, section#intro {
  background: #f1efea;
}
#About, section#intro {
  box-shadow: 0 0 40px 0 #f1efea, 0 0 40px 100px #f1efea;
}

article#PastWork h2 {
  margin-bottom: 0;
}
article#PastWork p.h2 {margin-bottom:1rem;}

#Photos, #ImageGallery {
  margin:auto;
  max-width: 1440px;     
}
.gallery {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 365px;
  grid-auto-flow: dense;
}
.horizontal {
  grid-column: span 2;
}
.vertical {
  grid-row: span 2;
}
.big {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery div:nth-child(odd) img {
  transform: rotate(2deg);    
}
.gallery div:nth-child(even) img {
  transform: rotate(-2deg);    
}
.gallery div:nth-child(6n+1), .gallery .vertical {
  position:relative;
}
.gallery div:nth-child(6n+1) img {
  transform: rotate(5deg);
}
.gallery img {
  border:20px solid #fff;
  border-bottom-width: 80px;
  box-shadow:0 0 15px rgb(0 0 0 / 50%),  0 0 1px rgba(255,255,255,0);
  /* antialiasing to remove jagged edges in Chrome */
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  -webkit-perspective: 1000;

}
.gallery .vertical {        
  transform: rotate(-4deg);
}
.gallery .vertical img{
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
}
.gallery div:nth-child(6n+1)::before, 
.gallery .vertical::before {
  content:"";
  width:99%;
  height:95%;
  background:#fff;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  box-shadow:0 0 15px rgb(0 0 0 / 50%),  0 0 1px rgba(255,255,255,0);
  transform: rotate(4deg);
}
.gallery div:nth-child(6n+1)::before {
  transform: rotate(0deg);
}

@media only screen and (max-width: 470px) {
  body {padding-left:0;padding-right: 0;}
  main {padding:3vw;}
  
  p:not(.h2){
   text-align:left;
  }
  .panel h2 {    
    font-size: clamp(2rem, 4rem, 6vw);
  }
  #myVideo, article img {
    border: 11px solid #fff;    
    margin:auto
  }
  section#Photos {
      overflow-x: hidden;
  }
  /* .gallery img {max-width: 80%;}
  
  .gallery div:nth-child(6n+1)::before, 
  .gallery .vertical::before {
    display: none;
  }
  .vertical {grid-row: span 1;}
  
  .gallery div:nth-child(odd) img, 
  .gallery div:nth-child(even) img,   
  .gallery div:nth-child(6n+1) img, 
  .gallery .vertical {
    transform: rotate(0);
  } */


}